:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  background-color: #FFFFFF;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #FFFFFF;
}

#root {
  width: 100%;
  min-height: 100vh;
  background-color: #FFFFFF;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
} 